<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 생성</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="/assets/css/typography.css">
    <link rel="stylesheet" href="/assets/css/default-css.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
</head>
<body>
<div class="main-content-inner">
    <div class="row">
        <div class="col-lg-6 col-ml-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">관리자 계정 생성</h4>
                    <form th:action="@{/admin/addAdmin}" method="post">
                        <div class="form-group">
                            <label for="adminId" class="col-form-label">관리자 ID</label>
                            <input class="form-control" type="text" id="adminId" name="adminId" required placeholder="접속 ID를 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="adminPassword" class="col-form-label">비밀번호</label>
                            <input class="form-control" type="password" id="adminPassword" name="adminPassword" required placeholder="비밀번호를 입력하세요">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">권한 설정 (Role)</label>
                            <select class="custom-select" name="role">
                                <option value="ADMIN" selected>ADMIN (전체 관리자)</option>

                            </select>
                        </div>
                        <div class="submit-btn-area mt-4">
                            <button class="btn btn-primary" type="submit">계정 생성하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>